/target/
/nbactions.xml
/nb-configuration.xml
/unicentaopos.iml
/.settings/
/.idea/
*.prefs
.classpath
.project
/build
/unicenta-thirdparty/target/
/unicenta-payment/target/
/unicenta-installer/target/
/unicenta-Izpack/target/
