/target/
/nbactions.xml
/nb-configuration.xml
/**/*.iml
/.settings/
/.idea/
*.prefs
.classpath
.project
/build
/unicenta-thirdparty/target/
/unicenta-payment/target/
/unicenta-installer/target/
/unicenta-Izpack/target/
/unicenta-opos-i18n/target/
/krpos-buildtools/target/
/unicenta-launch4j/target/
/krpos-jpackage/target/
/krpos-assets/target/
/krpos-experimental/krpos-buildtools/target/
/krpos-experimental/krpos-jpackage/target/
/krpos-experimental/unicenta-Izpack/target/
/unicenta-opos/derby.log
/kriolos-opos-rxtxjna/target/
/docs/target/
/docs/guide-devel/target/
/kriolos-opos-base/target/
/kriolos-opos-hardware/target/
