[Desktop Entry]
Version=4.2
Encoding=UTF-8
Name=uniCenta oPOS
Terminal=false
Exec=unicentaopos
Icon=unicentaopos
Type=Application
InitialPreference=6
Categories=Application;Office;
StartupNotify=false
GenericName=uniCenta oPOS
Comment=uniCenta oPOS Touch Friendly Point Of Sale
Name[en_US]=uniCenta oPOS
GenericName[en_US]=uniCenta oPOS